<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- my style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- iclusione Vue 3.x -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Inclusione Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Vue Email List Bonus</title>
</head>
<body>

    <h1>Email List</h1>

    <div id="app">
        <!-- Mostra la lista solo quando tutti gli indirizzi sono stati generati (allEmailsGenerated = true)-->
        <ul v-if="allEmailsGenerated">
            <li v-for="email in emails" :key="email">
                {{email}}
            </li>
        </ul>
    </div>
    
    <!-- my script -->
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>